/* Default styles */
.top-yellow-border {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: none;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FEBF00;
  }
  
  .menu-div {
    padding-right: 20px;
  }
  
  .menu-icon {
    width: 17px;
    height: 13px;
    flex-shrink: 0;
  }
  
  .search-div {
    width: 80%;
    height: 32.27px;
    border-radius: 9px;
    background: #F5F9EA;
    flex-shrink: 0;
    position: relative;
  }
  
  .search-location {
    display: flex;
    width: 175.838px;
    height: 23.469px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 13px;
    font-family: Cairo;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .outlet-name {
    display: flex;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 35px;
    background: #f8f8f8;
    flex-shrink: 0;
    position: relative;
    border: #000;
  }
  
  .Name-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 13px;
    font-family: Cairo;
    font-weight: 600;
  }
  
  .right-arrow {
    height: 12.712px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    align-self: center;
  }

  .outer-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }

  .container-class {
    margin-right: 10px;
  }

  .food-item-card {
    position: relative;
  }
  
  .food-item-image {
    display: flex;
    padding-left: 30px;
    position: relative;
    margin-right: 10px;
  }
  
  .food-price-div {
    padding-left: 45px;
    position: absolute;
    transform: translate(20%, -85%);
    width: 96px;
    top: 85%;
  }
  
  .item-details {
    display: flex;
    position: relative;
  }
  
  .food-item-name {
    display: flex;
    width: 100px; 
    flex-direction: column;
    flex-shrink: 0;
    font-size: 10px;
    font-family: Cairo;
    font-weight: 600;
    letter-spacing: -0.3px;
    padding-left: 40px;
  }
  
  .veg-non-veg {
    flex-shrink: 0;
    display: flex;
    position: relative;
  }

  .dot{
    transform: translateX(-1100%);
    position: absolute;
  }

  .outer-container::-webkit-scrollbar {
    display: none; 
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    
    .search-location {
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .right-arrow {
        margin-left: auto;
        padding-right: 20px;
    }

    .veg-non-veg {
      padding-left: 10px; /* Adjust the padding as needed */
    }
}